<h1>Contact</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your feedback was sent!</h5>

    <label>
      Name:
      <input type="text" formControlName="name">
    </label>

    <label>
      Telegram ID*:
      <input type="text" formControlName="telegramId">
      <div *ngIf="submitted && messageForm.controls.telegramId.errors" class="error">
        <div *ngIf="messageForm.controls.telegramId.errors.required">Your Telegram ID is required</div>
      </div>
    </label>
  
    <label>
      Feedback*:
      <textarea formControlName="feedback"></textarea>
      <div *ngIf="submitted && messageForm.controls.feedback.errors" class="error">
        <div *ngIf="messageForm.controls.feedback.errors.required">Your feedback is required</div>
      </div>
    </label>

    <input type="submit" value="Send feedback" class="cta">
  
  </form>
