<h1>Contact</h1>

<!-- <ul *ngIf="dataSource">
  <li *ngFor="let b of dataSource">
    <p>{{ b.blockchainTicker }} {{ b.transactions }}</p>
  </li>
</ul> -->

<div>
  <mat-card>
    <button mat-raised-button>Cersie Lannister</button>
    <button mat-raised-button color="primary">Jaime Lannister</button>
    <button mat-raised-button color="accent">Tyrion Lannister</button>
  </mat-card>
</div>


<!-- <table cdk-table [dataSource]="dataSource">
  <ng-container cdkColumnDef="blockchainTicker">
    <th cdk-header-cell *cdkHeaderCellDef> Blockchain Ticker </th>
    <td cdk-cell *cdkCellDef="let row"> {{row.blockchainTicker}} </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="['blockchainTicker']"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: ['blockchainTicker']"></tr>
</table> -->

<table cdk-table [dataSource]="dataSource">
  <!-- Position Column -->
  <!-- <ng-container cdkColumnDef="position">
    <th cdk-header-cell *cdkHeaderCellDef> No. </th>
    <td cdk-cell *cdkCellDef="let element"> {{element.position}} </td>
  </ng-container> -->

  <!-- BlockchainTicker-->
  <ng-container cdkColumnDef="blockchainTicker">
    <th cdk-header-cell *cdkHeaderCellDef> Blockchain Ticker</th>
    <td cdk-cell *cdkCellDef="let element"> {{element.blockchainTicker}} </td>
  </ng-container>

  <!-- BlockNumber-->
  <ng-container cdkColumnDef="blockNumber">
    <th cdk-header-cell *cdkHeaderCellDef> Block Number</th>
    <td cdk-cell *cdkCellDef="let element"> {{element.blockNumber}} </td>
  </ng-container>

  <!-- Transactions-->
  <ng-container cdkColumnDef="transactions">
    <th cdk-header-cell *cdkHeaderCellDef> Transactions</th>
    <td cdk-cell *cdkCellDef="let element"> {{element.transactions}} </td>
  </ng-container>

  <!-- Timestamp-->
  <ng-container cdkColumnDef="timestamp">
    <th cdk-header-cell *cdkHeaderCellDef> Timestamp</th>
    <td cdk-cell *cdkCellDef="let element"> {{element.timestamp}} </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>